<header>
  <% logo = image_tag("logo.png", :alt => "Charlie Base", :class => "round") %>
  <%= link_to logo, home_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
	  <li><%= link_to "Music", music_path %></li>
    </ul>
  </nav>
</header>